.entryPage{
    form {
        div{
            margin-bottom: 10px;
            &:first-child{
                margin-top: 10px;
            }
        }
        button{
            margin-bottom: 10px;
        }
    }
}